{% extends 'base.html.twig' %}

{% block title 'Se connecter'%}

{% block stylesheets %}
	{{ encore_entry_link_tags('form') }}
{% endblock %}
{% block body %}
	<img src="{{ asset('images/form/wave.png') }}" class="wave"/>
	<div class="container">
		<div class="img">
			<img src="{{ asset('images/form/imga.svg') }}"/>
		</div>
		<div class="login-container">
			<form action="{{path('login')}}" method="post">

				<img src="{{ asset('images/form/avatar.svg') }}" class="avatar"/>

				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div>
						<h5>Adresse mail</h5>
						<input type="email" class="input" name="_username" id="username" value="{{ last_email }}"/>
					</div>
				</div>
				<div class="input-div two">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div>
						<h5>Mot de passe</h5>
						<input type="password" class="input" id="password" name="_password"/>
					</div>
				</div>
				<a class="a" href="#">Mot de passe oublié</a>
				<input type="submit" value="Se connecter" class="bouton"/>
				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey | trans(error.messagedata,'security') }}
					</div>
				{% endif %}

			</form>
		</div>
	</div>
{% endblock  %}
{% block javascripts %}
	{{ encore_entry_script_tags('form') }}
{% endblock %}
