{% extends 'base.html.twig' %}
{% block title %}
	Les Archers
{% endblock %}
{% block body %}
	<div class="container text-center">
		<div class="row">
			{% for friend in ArcFriends %}
				<div class="col-md-4 mb-md-0 mb-4">
					<div class="card mt-4">
						<img class="card-img-top" src="{{ vich_uploader_asset(friend) }}" alt="Card image cap"/>
						<div class="card-body">
							<h5 class="card-title">
								{{ friend.name }}
							</h5>
							<p class="card-text">
								{{ friend.description|nl2br  }}
							</p>
							{% if friend.siteurl is not null %}
								<a href="{{ friend.siteurl }}" target="_blank" class="btn btn-primary">
									Leur site
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
