{% extends 'base.html.twig' %}
{% block title 'Classement'%}
{% block body %}
	<div class="container mt-4 classement">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Score</th>
				</tr>
			</thead>
			<tbody>
				{% for people in rank %}
					<tr>
						<th scope="row">
							<span class="fa-stack fa-1x nb-rank">
								<i class="fas fa-trophy fa-stack-2x"></i>
								<strong class="fa-stack-1x calendar-text">{{ loop.index }}</strong>
							</span>
						</th>
						<td>{{people.Firstname}}</td>
						<td>{{people.Lastname}}</td>
						<td>{{people.Score}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock  %}
