{% extends 'base.html.twig' %}
{% block title %}
  Documents
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="w-100">
        <h4>
          Réglement Général
        </h4>
      </div>
      <div>
        <a target="_blank" href="{{ asset('docs/general.pdf') }}">
          Le réglement général des tirs de l'UAANF
        </a>
      </div>
    </div>
  </div>
{% endblock %}
