{% extends 'base.html.twig' %}

{% block title 'La Flêche Millamoise '%}
{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<div class="contain">
		<div class="content">
			<h1 class="main-title">La flêche Millamoise</h1>

			<p class="home-content">
				L'association a été créé en XXXX.
				<br>
				Elle comporte X membres.
			</p>
			{% if lastPicture is not null %}
				<div class="LastPhoto mb-3">
					<h3 class="titre-lastAlbum mt-2">Les dernières actualités photos</h3>
					<div class="link">Photo ajoutée à l'album :
						<a href="{{ path('album.show',{id: lastAlbum.id , slug: lastAlbum.slug}) }}">{{ lastAlbum.title }}</a>
					</div>
					Ajoutée le
					{{ date }}
					<div class="lastAlbum-content mb-3 mt-3">
						<a href="#" data-featherlight="{{ vich_uploader_asset(lastPicture) }}">
							<img class="home-picture" src="{{ vich_uploader_asset(lastPicture) }}">
						</a>
					</div>
					<div class="mb-2 link">
						<a href="{{ path('list.albums') }}">Voir les toutes les photos</a>
					</div>
				</div>
			{% endif %}
			{% if NextEvent is not null %}
				<div class="LastPhoto p-3">
					<h3 class="titre-lastAlbum mt-2">Prochain événement à venir</h3>
					<h4 class="mb-3">{{NextEvent.title}}</h4>
					<div class="nextEventContent" id="toChange-js">
						<p class="text-justify">{{NextEvent.description|nl2br}}</p>
						<div class="link-home-calendar link">
							<a href="{{ path('public_booking_show', {'id': NextEvent.id}) }}">Voir l'événement</p>
						</a>
						<a href="{{path('public.calendar')}}">Voir le calendrier des événement</a>
					</div>
				</div>
			</div>

		{% endif %}
	</div>
	<aside>
		<div id="meteo">
			<h4 class="meteo-title">Météo à Millam</h4>
			<div class="spinner-border mt-5 mb-5" id="chargement-js" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div class="meteo-load" id="js-meteo" style="display: none;">
				<div class="today" id="js-actualweather">
					<div id="icon-js" class="icon"></div>
					<div id="infos-js" class="infos"></div>
				</div>
				<div class="nextDays">
					<div id="js-weather1"></div>
					<div id="js-weather2"></div>
				</div>
			</div>
		</div>
		<div class="visit">
			<h5>Visiteurs:</h5>
			15500
		</div>
	</aside>
</div></div><!-- Footer --><footer class="page-footer font-small pt-4">
<div class="container-fluid text-center text-md-left footer-contain">
	<div class="row">
		<div class="col-md-3 mb-md-0 mb-3">
			<h5 class="text-uppercase contact_title">Où nous trouver ?</h5>
			<ul class="list-unstyled txt_contact">
				<li>
					XX XXXXXX XXXXXXXX
				</li>
				<li>
					XXXXX XXXXX
				</li>
				<li>
					XXXXXXXXXXXXXXX
				</li>
				<li>
					XXXXXXXXXXXXXXXX
				</li>
			</ul>
		</div>
		<div class="col-md-5 mb-md-0 mb-5">
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10074.185252694377!2d2.2462488!3d50.8580851!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34c73b61542638f6!2sLa%20fl%C3%A8che%20millamoise!5e0!3m2!1sfr!2sfr!4v1580247112081!5m2!1sfr!2sfr" width="auto" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
		<hr class="clearfix w-100 d-md-none pb-3">
		<div class="col-md-4 mb-md-0 mb-4 contact text-center">
			<h5 class="text-uppercase contact_title">Où nous contacter?</h5>
			<ul class="list-unstyled txt_contact">
				<li>
					<a href="tel:0606060606">
						<i class="fas fa-phone"></i>
						0606060606
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/La-fl%C3%A8che-Millamoise-2409764802583268/">
						<i class="fab fa-facebook-f"></i>
						La flèche Millamoise
					</a>
				</li>
				<li>
					<a href="mailto:exemple@exemple.fr">
						<i class="fas fa-envelope"></i>
						exemple@exemple.fr
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright text-center py-2">© 2020 Copyright:
	<a href="https://github.com/Tiiyto" target="_blank">
		Antonin Lavie</a>
</div></footer>{% endblock  %}{% block javascripts %}{{ encore_entry_script_tags('home') }}{% endblock %}
