{% extends 'base.html.twig' %}
{% block title 'Calendrier'%}
{% block body %}
	<div class="calendar">
		<div id="calendar-holder"></div>
		<div class="mt-4">
			<a href="{{path('user.calendar.dl')}}" class="btn btn-primary mb-3 mr-2">Télécharger l'agenda</a>
			<a href="{{path('user.calendar.dlP')}}" class="btn btn-primary mb-3">Télécharger mes événements</a>
		</div>
		<div class="accordion" id="accordionExample">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Mettre l'agenda via son téléphone
						</a>
					</h2>
				</div>
				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
					<div class="card-body">
						<p>
							Télécharger l'agenda via les liens au dessus. Si vous souhaitez obtenir uniquement les événements auxquels vous participez, cliquez sur le boutton "Télécharger mes événements".Sinon cliquez sur le bouton "Télécharger l'agenda".
							<br>
							Une fois le fichier téléchargé, ouvrez le puis choisissez l'application où vous souhaitez ajouter cet agenda.
						</p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h2 class="mb-0">
						<a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Mettre l'agenda via l'ordinateur
						</a>
					</h2>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
					<div class="card-body">
						<p>
							Télécharger l'agenda via les liens au dessus. Si vous souhaitez obtenir uniquement les événements auxquels vous participez, cliquez sur le boutton "Télécharger mes événements".Sinon cliquez sur le bouton "Télécharger l'agenda".
							<br>
							<div class="row">
								<div class="col-4">
									<h4>Sur Google Agenda :</h4>
									<p>Cliquez sur le lien suivant
										<br>
										<a class="btn btn-secondary mt-3 mb-3" target="_blank" href="https://calendar.google.com/calendar/r/settings/export">Cliquez ici</a>
										<br>
										Puis sélectionnez le fichier téléchargé précédemment dans le cadre suivant.
										<img src="{{ asset('images/calendar/agenda.png') }}" style="width:100%;">
										Cliquez sur importer et le tour est joué.
									</p>
								</div>
								<div class="col-4">
									<h4>Sur Outlook :</h4>
									Cliquez sur le lien suivant
									<br>
									<a class="btn btn-secondary mt-3 mb-3" target="_blank" href="https://outlook.live.com/calendar/0/addcalendar">Cliquez ici</a>
									<br>
									Sélectionnez l'onglet "Charger à partir d'un fichier".
									<img src="{{ asset('images/calendar/outlook.PNG') }}" style="width:100%;">
									Sélectionnez le fichier téléchargé précédemment dans parcourir, sélectionnez votre calendrier puis cliquez sur importer.
								</div>
								<div class="col-4">
									<h4>Sur tout autre application/logiciel :</h4>
									Trouvez l'option importer dans votre calendrier favoris et insérer le fichier.
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
	{{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales/fr.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');

var calendar = new FullCalendar.Calendar(calendarEl, {
height: 'auto',
defaultView: 'dayGridMonth',
locale: 'fr',
editable: true,
eventSources: [
{
url: "{{ path('fc_load_events') }}",
method: "POST",
extraParams: {
filters: JSON.stringify(
{"calendar-id": "booking-calendar"}

)
},
failure: () => { // alert("There was an error while fetching FullCalendar!");
}
},
],
header: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek,listWeek'
},
plugins: [
'interaction', 'dayGrid', 'timeGrid', 'list'
], // https://fullcalendar.io/docs/plugin-index
timeZone: 'UTC'
});
calendar.render();
});
	</script>
{% endblock %}
