{% extends 'base.html.twig' %}

{% block title %}Événements
{% endblock %}

{% block body %}
	<h1 class="mt-3 mb-3 text-center">Liste des événements</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom de l'événement
				</th>
				<th>Début
				</th>
				<th>Fin</th>
			</tr>
		</thead>
		<tbody>
			{% for booking in bookings %}
				<tr>
					<td class="link">
						<a href="{{ path('booking_show', {'id': booking.id}) }}">{{ booking.title }}
						</a>
					</td>
					<td>{{ booking.beginAt ? booking.beginAt|date('d/m/Y à H:i') : '' }}</td>
					<td>{{ booking.endAt ? booking.endAt|date('d/m/Y à H:i') : '' }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun événement</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-primary" href="{{ path('user.calendar') }}">Retourner au calendrier</a>
{% endblock %}
