{% extends 'base.html.twig' %}

{% block title %}
	{{ booking.title }}
{% endblock %}

{% block body %}
	<h1 class="mt-3 mb-3 text-center">
		{{ booking.title }}
	</h1>

	<table class="table table-striped">
		<tbody>
			<tr>
				<th>
					Date de début
				</th>
				<td>
					{{ booking.beginAt ? booking.beginAt|date('d/m/Y à H:i') : '' }}
				</td>
			</tr>
			<tr>
				<th>
					Date de fin
				</th>
				<td>
					{{ booking.endAt ? booking.endAt|date('d/m/Y à H:i') : '' }}
				</td>
			</tr>
			<tr>
				<th>
					Participant
				</th>
				<td>
					{% for Participant in  booking.Participant %}
						{{Participant.firstname}}
						{{Participant.name}}
						{% if Participant != booking.Participant|last %},
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>
					Description
				</th>
				<td>
					{{ booking.Description|nl2br }}
				</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" href="{{ path('user.calendar') }}">
		Retourner au calendrier
	</a>
	<a class="btn btn-primary" href="{{ path('booking_index') }}">
		Aller à la liste des événements
	</a>
	{% if presence %}
		<a href="{{ path( 'user.booking.participate', { id: booking.id } ) }}" class="btn btn-primary">
			Ne plus participer à l'événement
		</a>
	{% else %}
		<a href="{{ path( 'user.booking.participate', { id: booking.id } ) }}" class="btn btn-primary">
			Participer à l'événement
		</a>
	{% endif %}
{% endblock %}
