:root {
  --main-color: #345423;
}
:not(i) {
  font-family: "Allerta Stencil", sans-serif !important;
}
.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--main-color);
}

.nextEventContent {
  padding-left: 5rem;
  padding-right: 5rem;
}

.searchIcon {
  padding: 0.8rem;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  flex: 1;
  border-radius: 0px;
}

.searchBox:focus {
  outline: none;
}
.min {
  color: blue;
}
.max {
  color: red;
}
.bold {
  font-weight: bold;
}

.pic i {
  color: #345423;
}

.home-picture {
  width: 60%;
  height: auto;
}

.LastPhoto {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  margin-left: 10em;
  margin-right: 10em;
}
.link a {
  text-decoration: none !important;
  color: var(--main-color);
}
.link a:hover {
  text-decoration: none !important;
  color: var(--main-color);
}

.btn-primary {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.contact {
  border-left: 2px solid var(--main-color);
}
.imgAlbum {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.main-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 275px;
  padding-top: 10px;
  border-bottom: 2px solid var(--main-color);
}
.topics {
  margin-left: 15em;
  margin-right: 15em;
}
.soum {
  height: 160px;
}
.slim-index,
.slim-index-s {
  font-size: small;
  color: var(--main-color);
}
.forum-topic {
  border-bottom: 3px solid var(--main-color);
}
.link_forum,
.link_forum:hover {
  text-decoration: none !important;
  color: black !important;
}
.comments {
  margin-left: 10em;
  margin-right: 10em;
}
.generalAlbumTitle::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 10px;
  border-bottom: 3px solid var(--main-color);
}
.titre-lastAlbum::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 10px;
  border-bottom: 2px solid var(--main-color);
}
.page-footer {
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: 2px solid var(--main-color);
}
.page-footer a {
  color: var(--main-color) !important;
}

.footer-contain {
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 1.5rem;
}
.parent {
  display: flex !important; /* contexte sur le parent */
  flex-direction: column !important; /* direction d'affichage verticale */
  justify-content: center !important; /* alignement vertical */
}

.fa-image {
  color: black;
  font-size: 45px;
}
.active,
.navbar-brand {
  color: var(--main-color) !important;
}
.nav-item a:hover {
  color: var(--main-color) !important;
}
.page-link {
  color: var(--main-color) !important;
}
.page-item.active .page-link {
  color: white !important;
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.nb-rank i {
  color: var(--main-color);
}

.card-text {
  color: black !important;
  text-decoration: none;
}
.calendar-text {
  margin-top: -0.4em;
  margin-left: 0.15em;
  font-size: 0.8em;
  color: white !important;
}
.card-body a {
  text-decoration: none !important;
}
.txt_contact {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  height: calc(100% - 2.5rem);
}
.link-home-calendar {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 3em);
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.contact_title {
  font-size: medium;
}
@media screen and (max-width: 767px) {
  .contact {
    border-left: none;
  }
  .page-footer {
    margin: 1em;
  }
}
@media screen and (max-width: 1166px) {
  .map {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .imgAlbum {
    width: 230px;
    height: 230px;
    object-fit: cover;
  }
  .topics {
    margin-left: 10em;
    margin-right: 10em;
  }
}
@media screen and (max-width: 900px) {
  .map {
    width: 100% !important;
  }
  .LastPhoto {
    margin-left: 2em;
    margin-right: 2em;
  }
  .imgAlbum {
    width: 170px;
    height: 170px;
    object-fit: cover;
  }
  .topics {
    margin-left: 7em;
    margin-right: 7em;
  }
  .comments {
    margin-left: 7em;
    margin-right: 7em;
  }
}
@media screen and (max-width: 700px) {
  .imgAlbum {
    width: 125px;
    height: 125px;
    object-fit: cover;
  }
  .nextEventContent {
    padding-left: 0;
    padding-right: 0;
  }
  .topics {
    margin-left: 5em;
    margin-right: 5em;
  }
  .searchBox {
    width: 235px;
  }
  .comments {
    margin-left: 4em;
    margin-right: 4em;
  }
  .slim-index-s {
    font-size: x-small !important;
  }
  .classement,
  .pagination {
    font-size: 12px;
  }
  .calendar {
    font-size: 8px;
  }
}
@media screen and (max-width: 500px) {
  .imgAlbum {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .topics {
    margin-left: 2em;
    margin-right: 2em;
  }
  .comments {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
