:root {
  --dif: calc(255 - 223);
}
/*Disable background saved email*/
@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 360px;
  background: none !important;
}
form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
}
.wave {
  position: fixed;
  height: calc(100% - 56px);
  left: 0;
  bottom: 0;
  z-index: -1;
}
.container {
  width: 100vw;
  height: calc(100vh - 56px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.img img {
  width: 450px;
}
.avatar {
  width: 100px;
  margin-bottom: 40px;
}
.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #999;
}

.input-div::after,
.input-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.3s;
}

.input-div:after {
  right: 50%;
}
.input-div:after {
  left: 50%;
}

.input-div.focus .i i {
  color: var(--main-color);
}

.input-div.focus div h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus::after,
.input-div.focus::before {
  width: 50%;
}

.input-div.one {
  margin-top: 0;
}
.input-div.two {
  margin-bottom: 4px;
}
.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}
.i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i {
  color: gray;
  transition: 0.3s;
}
.input-div > div {
  position: relative;
  height: 45px;
}
.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

.a {
  display: block !important;
  text-align: right !important;
  text-decoration: none !important;
  color: #999 !important;
  font-size: 0.9rem !important;
  transition: 0.3s !important;
}
.a:hover {
  color: var(--main-color) !important;
}

.bouton {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to left,
    rgb(65, 84, 35),
    rgb(50, 80, 33),
    rgb(45, 71, 30),
    rgb(38, 59, 26)
  );
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.5s;
}

.bouton:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .img {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .wave {
    display: none;
  }
  .login-container {
    justify-content: center;
  }
}
