.contain {
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 2fr;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .visit {
    display: none;
  }
  .contain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  aside {
    margin-top: 10px;
    height: 230px;
  }

  .meteo-load {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .icon {
    text-align: right;
  }
  .infos {
    text-align: left;
  }
  .wind {
    width: 18px;
    height: auto;
  }
  .today {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .nextDays {
    display: grid !important;
    grid-template-rows: 1fr 1fr;
  }
}
