{% extends 'base.html.twig' %}
{% block title 'Photos'%}
{% block body %}
	<div class="container text-center">
		<h2 class="mb-4 mt-3 generalAlbumTitle">Les différents albums</h2>
		<div class="row">
			{% for album in albums %}
				<div class="col-md-4 mb-md-0">
					<div class="card mb-4">
						<div class="card-body">
							{% if public == 1 %}
								<a href="{{ path('album.show',{id: album.id , slug: album.slug}) }}">
								{% else %}
									<a href="{{ path('user.album.show',{id: album.id , slug: album.slug}) }}">
									{% endif %}
									<div class="card-title pic">
										<i class="fas fa-image"></i>
									</div>
									<div class="card-text">
										{{ album.title }}
									</div>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="pagination mt-2">
				{{ knp_pagination_render(albums) }}
			</div>
		</div>
	{% endblock  %}
