{% extends 'base.html.twig' %}
{% block title album.title %}
{% block body %}
  <div class="container text-center">
    <h1 class="mb-4">
      {{ album.title }}
    </h1>
    <div class="row">
      {% if album.IdImage is empty %}
        Il n'y a pas de photos dans cet album.
      {% else %}
        {% for Image in album.IdImage %}
          <div class="col-4 mb-3">
            <a href="{{ vich_uploader_asset(Image) }}"
              class="thumbnail gallery">
              <img class="imgAlbum" src=" {{ vich_uploader_asset(Image) }}" />
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
