{% extends 'base.html.twig' %}
{% block title %}
	Forum
	{% if searched is defined %}
		-
		{{searched}}
	{% endif %}
{% endblock %}
{% block body %}
	<div class="topics">
		<h1 class="mb-4">
			Une Question ?
		</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}
		<form class="searchContainer mb-3" method="get" action="{{ path('forum_searched') }}">
			<i class="fa fa-search searchIcon" style="color:white;"></i>
			<input class="searchBox" type="search" name="search" id="search" {% if searched is defined %} value="{{searched}}" {% endif %} placeholder="Rechercher sur le forum"/>
		</form>
		<div class="rep mb-3">
			{% if searched is defined %}
				<h5>Résultat
					{% if forums|length >1 %}s
					{% endif %}
					obtenu
					{% if forums|length >1 %}s
					{% endif %}
					pour "<span class="font-weight-bold">{{searched}}</span>".</h5>
			{% endif %}
		</div>
		{% for forum in forums %}
			<a class="link_forum" href="{{ path( 'forum_show', { id: forum.id, slug: forum.slug } ) }}">
				<div class="row forum-topic mb-3">
					<div class="col-md-5 mb-md-0">
						<div>
							{{ forum.title|u.truncate(42, ' [...]') }}
						</div>
						<div class="slim-index d-none d-md-block">
							Par
							<span style="font-weight: bold;">{{ forum.Author }}</span>
							{{ forum.createdAt ? forum.createdAt|date('d-m-Y H:i') : '' }}
						</div>
					</div>
					<div class="col-3 d-none d-md-block">
					{{forum.forumAnswers.count + 1	}}
					{% if forum.forumAnswers.count == 0 %}
							message
						{% else %}
							messages
						{% endif %}
					</div>
					<div class="col-md-4 mb-md-0">
						<div class="slim-index">
							<div>
								Dernier message par
								<span style="font-weight: bold;">
									{% if forum.forumAnswers.count == 0 %}	
										{{ forum.Author }}
									{% else %}
										{{ forum.forumAnswers[forum.forumAnswers.count - 1].Author }}
									{% endif %}
								</span>
							</div>
							<div>
								{% if forum.forumAnswers.count == 0 %}	
									{{ forum.createdAt ? forum.createdAt|date('d-m-Y H:i') : '' }}
								{% else %}
									{{ forum.forumAnswers[forum.forumAnswers.count - 1].createdAt
                    ? forum.forumAnswers[forum.forumAnswers.count - 1].createdAt|date('d-m-Y H:i')
                    : '' }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</a>
		{% else %}
			Aucune questions posées.
		{% endfor %}
		<div class="new-forum">
			<div class="mb-4">
				Vous n'avez pas trouvé votre réponse?
				<a class="ml-2 btn btn-secondary" href="{{ path('forum_new') }}">
					Nouvelle question
				</a>
			</div>
		</div>
		<div class="pagination">
			{{ knp_pagination_render(forums) }}
		</div>
	</div>
{% endblock %}
