{% extends 'base.html.twig' %}

{% block title %}
  Nouveau sujet
{% endblock %}

{% block body %}
  <div class="container">
    <h1>
      Créer un nouveau sujet
    </h1>
    {{
      include(
        'forum/_form.html.twig',
        {
          button_label: 'Enregistrer'
        }
      )
    }}
  </div>
{% endblock %}
