{% extends 'base.html.twig' %}

{% block title %}
  {{ forum.title }}
{% endblock %}

{% block body %}
  <section class="comments">
    <h1 class="mb-4">
      {{ forum.title }}
    </h1>
    <div class="row show-forum mb-3">
      <div class="col-md-2 mb-md-0 md-mb-2 text-lg-center author-content">
        <span class="fa-stack fa-2x" style="color:#3454238e;">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fa-inverse fas fa-user fa-stack-1x"></i>
        </span>
        <div class="author">
          {{ forum.Author }}
        </div>
      </div>
      <div class="col-md-10 mb-md-0 mb-10">
        <div class="date mb-2 slim-index-s">
          Le
          {{ forum.createdAt ? forum.createdAt|date('d.m.Y à H:i') : '' }}
        </div>
        {{ forum.Description }}
      </div>
    </div>
    {% for answer in forum.forumAnswers %}
      <div class="row mb-3">
        <div class="col-md-2 mb-md-0 md-mb-2 text-lg-center author-content">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#3454238e;"></i>
            <i class="fa-inverse fas fa-user fa-stack-1x"></i>
          </span>
          <div class="author">
            {{ answer.Author }}
          </div>
        </div>
        <div class="col-md-10 mb-md-0 mb-10">
          <div class="date mb-2 slim-index-s">
            Le
            {{ answer.createdAt ? answer.createdAt|date('d.m.Y à H:i') : '' }}
          </div>
          {{ answer.Description }}
        </div>
      </div>
    {% endfor %}
    {% if app.user %}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <button class="btn btn-primary">
        Répondre
      </button>
      {{ form_end(form) }}
    {% endif %}
  </section>
{% endblock %}
